.carousel-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url('https://miro.medium.com/v2/resize:fit:1200/1*b8WS2iEvZCQYlXq46gKpqw.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-container {
  width: 50%;
  height: 70%;
}

.carousel {
  background-color: black;
  position: relative;
  height: 85%;
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.slide {
  height: 100%;
  width: 100%;
  position: relative;
}

.slide > img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.slide > h4 {
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
}

.carousel-btns {
  position: relative;
}

.carousel-btn {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-btn:hover,
.carousel-btn:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-btn:focus {
  outline: 1px solid black;
}

.carousel-btn.prev {
  left: 1rem;
}

.carousel-btn.next {
  right: 1rem;
}

.image-counts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15%;
  width: 100%;
}

.visit-count-container {
  background: rgba(255, 255, 255, 0.20);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.visit-count-container > p {
  margin: 0;
}

.count-text {
  font-size: 16pt;
  padding-bottom: 5px;
}

.count-title {
  font-size: 10pt;
}

.no-images {
  width: 90vw;
  text-align: center;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .carousel-container {
    width: 60%;
    height: 50%;
  }

  .carousel {
    height: 80%;
  }

  .image-counts {
    height: 20%;
  }

  .visit-count-container {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 600px) {
  .carousel-container {
    width: 90%;
    height: 40%;
  }

  .carousel {
    height: 75%;
  }

  .image-counts {
    height: 25%;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.fade-in { animation: fadeIn 2s; }

.slide {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 0.25s ease;
}

.slide-in-left {
  animation: slideInLeft 0.25s forwards;
}

.slide-in-right {
  animation: slideInRight 0.25s forwards;
}

.slide-out-left {
  animation: slideOutLeft 0.25s forwards;
}

.slide-out-right {
  animation: slideOutRight 0.25s forwards;
}
